{% extends 'base.html.twig' %}

{% block title %}Actor
{% endblock %}

{% block body %}
	<h1>{{ actor.name }}</h1>
	<ul>
		{% for program in actor.programs %}
			<li>
				<a href="{{ path("program_show", {program : program.id})}}">
					{{ program.title }}</li>
			</li>

		{% endfor %}
	</ul>
	<a href="{{ path('app_actor_index') }}">
		to list</a>
{% endblock %}
