body {
    background-color: #FBFBFB;
}

// assets/styles/global.scss

// the ~ allows you to reference things in node_modules


$primary: #7FB069;
$secondary: #FFFBBD;
@import "~bootstrap/scss/bootstrap";