<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Accueil</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Catégories
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="/category/Action">Action</a>
							</li>
							<li>
								<a class="dropdown-item" href="/category/Romantique">Romantique</a>
							</li>
							<li>
								<a class="dropdown-item" href="/category/Animé">Animé</a>
							</li>
							<li>
								<a class="dropdown-item" href="/category/Fantastique">Fantastique</a>
							</li>
							<li>
								<a class="dropdown-item" href="/category/Aventure">Aventure</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Séries
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Phénomène Raven</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Le laboratoire de Dexter</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Les supers nana</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Mi-chat mi-chien</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Johnny Bravo</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		{% if app.user %}
			{{ app.user.email }}
			<a href="{{ path('app_logout') }}">
				Se déconnecter</a>
		{% else %}
			<a href="{{ path('app_login') }}">
				Se connecter</a>
		{% endif %}
	</div>
</div></nav></header>
